<% include ../header %>
	<header>
	  	<div class="overlay"></div>
	  	<video id="video" muted="muted" onended="onVideoEnded();">
	  	</video>
	  	<div id="video-container" class="container h-100">
	    	<div class="d-flex h-100 text-center align-items-center">
	      		<div class="w-100 text-white">
	        		<h1 class="display-3" style="font-family: 'Amatic SC', cursive;">Tourist</h1>
	        		<p class="lead mb-0">Scroll Down</p>
	      		</div>
	    	</div>
	    </div>
	</header>
	<div id="list" class="container">
		<%if(campgrounds.length==0){%>
			<h3 style="margin-left: 48vh;">
				<i style="color: rgba(140,140,140,0.5);">Oops! No results found...</i>
			</h3>
		<%}else{%>
		<div class="row text-center" style="display: flex; flex-wrap: wrap;">
			<%campgrounds.forEach(function(campground){ %>
				<div class="col-md-3 col-sm-6" style="background-color: #fff; padding-top: 15px; margin-bottom: 10px;">
					<div class="thumbnail" style="padding: 10px;">
						<img src="<%= campground.image %>" height="200" width="50">
						<div class="caption">
							<h4><%= campground.name %></h4>
						</div>
						<p>
							<a href="/campgrounds/<%= campground._id %>" class="btn btn-primary">View</a>
						</p>
					</div>
				</div>
			<% });} %>
		</div>
	</div>
	<script>
		$("nav").removeClass("navbar-light");
		$("nav").addClass("navbar-dark");
		$("nav").addClass("bg-dark");
		$("input").addClass("bg-dark");
		var video_list=["/assets/island.mp4","/assets/forest.mp4","/assets/ocean.mp4","/assets/road.mp4"];
		var video_index=0;
		var video_player=null;
		function onload(){
			console.log("Loaded");
			video_player=document.getElementById("video");
			video_player.setAttribute("src",video_list[video_index]);
			video_player.play();
		}

		function onVideoEnded(){
			if(video_index<video_list.length-1){
				video_index++;
			}else{
				video_index=0;
			}
			video_player.setAttribute("src",video_list[video_index]);
			video_player.play();
		}
	</script>
<% include ../footer %>